body {
	width: 1600px;
	height: 1000px;
}
.hotel1 {
	width: 100%;
	position: relative;
/*    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.5s;*/
    transition: all 1s ease 0.5s;  
}
.name {
	width: 10%;
	height: 10%;
	position: absolute;
	animation:animationname 5s infinite;
}
@keyframes animationname {
	0% {transform: translate(-10%,-10%); width: 100px;}
	25% {transform: translate(-30%,-30%); width: 200px;}
	50% {transform: translate(-50%,-50%); width: 300px;}
	74% {transform: translate(-80%,-89%); width: 400px;}
	100% {transform: translate(-50%,-50%); width: 500px;}
}
.car {
    width: 10%;
    height: 2%;
    position: absolute;
    top: 30%%;
    left: 0%;
    animation:caranimation 5s infinite;
}
@keyframes caranimation {
    0% {transform: translateX(0px);}
	25% {transform: translateX(100px);}
	50% {transform: translateX(300px);}
	74% {transform: translateX(550px);}
	100% {transform: translateX(800px);}
}
@keyframes caranimation {
    0% {transform: translateX(0px); rotate(45deg);}
	25% {transform: translateX(100px); rotate(90deg);}
	50% {transform: translateX(300px); rotate(180deg);}
	74% {transform: translateX(550px); rotate(360deg);}
	100% {transform: translateX(800px); rotate(45deg);}
}