body {
	width: 1600px;
	height: 1600px;
}
.hotel1 {
	width: 100%;
	position: relative;
	transition-property: all;
	background-image: url(img/hotel.jpg);
	background-repeat: no-repeat;
	z-index: 1
}
.name {
	width: 80%;
	height: 80%;
	position: absolute;
	transition: all 0.5s ease 0.5s;
	animation:animationname 5s infinite;
	z-index: 2;
}
.name1 {
	width: 40%;
	height: 20%;
	position: absolute;
	top: 5%;
	left: 50%;
}
@keyframes animationname {
	0% {transform: translateY(-10%);}
	25% {transform: translateY(-30%);}
	50% {transform: translateY(-50%);}
	74% {transform: translateY(-89%);}
	100% {transform: translateY(-50%)}
}
.car {
	width: 50%;
	height: 25%;
	top: 85%;
	left: 5%;
	position: absolute;
    transition: all 0.5s ease 0.5s;
    animation:caranimation 5s infinite;
    z-index: 2; 
}
.car1 {
    width: 50%;
    height:auto;
    position: absolute;
    top: 90%;
    left: 5%;
  /*  transition: all 0.5s ease 0.5s;
    animation:caranimation 5s infinite;
    z-index: 2;*/  
}
@keyframes caranimation {
	0% {transform: translateX(-10%);}
	25% {transform: translateX(-30%);}
	50% {transform: translateX(-50%);}
	74% {transform: translateX(-89%);}
	100% {transform: translateX(-50%);}
}
.cake {
	width: 30%;
	height: 20%;
	top: 80%;
	left: 80%;
	position: absolute;
	transition: all 0.5s ease 0.5s;
	animation: cakeanimation 5s infinite;
	z-index: 2;
}

.cake1 {
	width: 30%;
	height: auto;
	position: absolute;
	top: 80%;
	left: 80%;
}
@keyframes cakeanimation {
	0% {transform: translateX(-10%);rotate(25deg);}
	25% {transform: translateX(-30%);rotate(50deg);}
	50% {transform: translateX(-50%);rotate(75deg);}
	74% {transform: translateX(-89%);rotate(100deg);}
	100% {transform: translateX(-50%);rotate(150deg);}
}
